body {
  font-family: 'Bradley Hand ITC';
  font-size: 20px;
  line-height: 1.5;
  }

#monthlyCalendar{
  background-image: url("../bg-images/kitten-bg.gif");
  background-size: 400px;
}

h1, h2, h3 {
  font-family: 'Bradley Hand ITC';
  font-weight: 600  ! important; 
}
  
.heading{
  position: absolute;
  text-align: center;
  top: 150px;
  z-index: 10;
  font-size: 45;
  padding-left: 24%;
  padding-right: 24%;
  }

.lead-in {
  font-family: 'Bradley Hand ITC';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5;
  }

.hero-img{
  width: 100%;
  padding: 0 ! important;
  margin-top: -15%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 640px;
  z-index: -10;
  position: relative;
  margin-bottom: 200px;
  }
  

  input {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-bottom: 1px solid black;
  padding: 10px;
  }
  
textarea {
  resize: none;
  color: #000000;
  line-height: 25px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .date-block {
    text-align: center;
  }
  
  .row {
    white-space: pre-wrap;
    border-top: 1px solid white;
    margin-bottom: 25px;
  }

  .userInput {
    border: 1px solid;
    font-weight: 500;
    color: darkgrey;
    background-color: white;
  }

.day {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  } 
 

  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #06aed5;
  }

.saveBtn i:hover {
    transition: all 0.3s ease-in-out;
  }

#currentMonth {
  text-align: center;
  margin: 50px 30% 50px 30% ;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
  background-image: url("../bg-images/label2.gif") ;
  background-size: 260% 230%;
  background-position: center;
  background-repeat: no-repeat;
}

.hide{
  display:none
}