body {
    font-family:'Bradley Hand ITC' !important;
  }

.hero-img{
    width: 100%;
    padding: 0 ! important;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -10;
    position: relative;
    margin-top: -10%;
  }

h1 {
    font-weight: 600 !important;
}

.heading{
  position: absolute;
  text-align: center;
  top: 300px;
  left: 40%;
  z-index: 10; 
}

.newKittenProfile, .myKittenProfile{
    margin: -100;
    min-height: 1680px;
    background-image: url(../bg-images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
}

.profile{
  padding-top: 500px;
  border: none;
}

h2, h3, a, p{
font-weight: 600 !important;
}

.myKittenData{
font-size: 35px;
}

.hide{
display: none;
}

.row{
margin-bottom: 30px;
}

.myDiary{
  background-image: url(../bg-images/kitten-bg2.gif);
}
