body {
  font-family: 'Bradley Hand ITC';
  font-size: 20px;
  line-height: 1.5;
  }

#monthlyCalendar{
  background-image: url("../bg-images/bg-texture1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: - 10%;
  margin-bottom: -10%;
  padding-top: 5%;
  padding-bottom: 10;
}

h1, h2, h3 {
  font-family: 'Bradley Hand ITC';
  font-weight: 600  ! important; 
}
  
.heading{
  position: absolute;
  text-align: center;
  top: 150px;
  z-index: 10;
  font-size: 45;
  padding-left: 24%;
  padding-right: 24%;
  }

.lead-in {
  font-family: 'Bradley Hand ITC';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5;
  }

.hero-img{
  width: 100%;
  padding: 0 ! important;
  margin-top: -15%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 640px;
  z-index: -10;
  position: relative;
  margin-bottom: 200px;
  }
  
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.card{
  border-radius: 15px;
  margin: 0.5%;
  background-image: url(../bg-images/kitten-bg4.gif);
  background-position: left bottom;
  background-size: 40%;
  background-repeat: no-repeat;
}

.date-block {
  text-align: center;
  color: darkgreen;
}
  
.row {
    white-space: pre-wrap;
    margin-bottom: 25px;
  }

.modal{
  height: 50%;
  min-width: 50%;
  background-image: url(../bg-images/bg2.jpg);
  background-size: 120%;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
}

.modal-content {
  font-size: xx-large;
  font-weight: bolder !important;
  border: none;
  background: transparent;
  height: 100%;
  width: 65%;
  margin-left:10% ;
}

.modal-heading{
  margin-left: 20%;
  margin-right: 10%;
  margin-bottom: 3%;
  margin-top: 10%;
}

.userInput {
    background-color: transparent;
    min-height: 30%;
    color: darkgreen;
  }

input {
    background: transparent;
    border: none;
    resize: none;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: xx-large;
    font-weight: bolder !important;
    }
    
textarea {
    resize: none;
    color: darkgreen;
    background-color: transparent;
    height:70%;
    border: none;
    border-top: dotted 1px ;
    margin-top: 1%;
    padding-top:1%;
    font-weight: bolder !important;
    }

 
.saveBtn {
    margin: 5%;
    max-width: 15%;
    border-radius: 15px;
    margin-left: 40%;
    margin-right: 45%;
    border: dotted grey 1px;
    font-weight: bolder !important;  
  }

#currentMonth {
  text-align: center;
  margin: 50px 30% 50px 30% ;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
  background-image: url("../bg-images/label2.gif") ;
  background-size: 260% 230%;
  background-position: center;
  background-repeat: no-repeat;
}

.hide{
  display:none
}