body {
  font-family:'Bradley Hand ITC' !important;
}

h2, h3, a, p{
  font-weight: 600 !important;
  }

h3{
  font-size: 1rem;
}

.card-text{
  display: none;
}

.hero-img{
  width: 100%;
  padding: 0 ! important;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 5em;
}

.heading{
  font-weight: 600 !important;
  text-align: center;
  color:black;
  display: block;
}


.profile-section{
background-image: url(../bg-images/bg1.jpg);
border: none;
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
padding: 2em;
}

.row>h1{
  font-size: 1rem;
  font-weight: 600;
  padding-top: 1.5rem;
}

.row{
  margin-bottom: 1.75em;
  }

.hide{
display: none;
}

input{
border-top:none;
border-left:none;
border-right:none;
background-color: transparent;
font-size: 1rem;
}

form, .myKittenData{
font-size: 1rem;
margin-top: -1.5em;
}

.card{
background: transparent !important;
}

a {
color: black !important;
}

a:link { text-decoration: none !important; }
a:visited { text-decoration: none; }
a:hover { 
text-decoration: none;
border: dotted 1px !important; }
a:active { text-decoration: none; }


.myDiary{
  background-image: url(../bg-images/bg3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding:0;
  }

.container-fluid{
  margin:0;
  padding:0;
}
 
#diaryGrid{
  margin:0;
  padding: 0;
}

#scroll-container {
margin-top: 7em;
border-top: dotted 5px grey;
border-bottom: dotted 5px grey ;
overflow: hidden;
font-weight: 500;
}

#scroll-text {
/* animation properties */
-moz-transform: translateX(100%);
-webkit-transform: translateX(100%);
transform: translateX(100%);
-moz-animation: my-animation 50s linear infinite;
-webkit-animation: my-animation 50s linear infinite;
animation: my-animation 50s linear infinite;
font-size: 1.5rem;
}


/* for Firefox */
@-moz-keyframes my-animation {
from { -moz-transform: translateX(100%); }
to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
from { -webkit-transform: translateX(100%); }
to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
from {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
to {
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
}