body {
  font-family:'Bradley Hand ITC' !important;
}

.hero-img{
  width: 100%;
  padding: 0 ! important;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -10;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

heading>h1 {
  font-weight: 600 !important;
  color:white;
}

.heading{
position: absolute;
text-align: center;
top: 8em;
left: 2em;
z-index: 10; 
color:white;
}

.profile-section{
padding: 10em;
background-image: url(../bg-images/bg1.jpg);
border: none;
background-size: 75%;
background-repeat: no-repeat;
background-position: center;
margin-top: 10em;
margin-bottom: 20em;
}

h2, h3, a, p{
font-weight: 600 !important;
}

.hide{
display: none;
}

input{
border-top:none;
border-left:none;
border-right:none;
background-color: transparent;
font-size: 1.25em;
}

form, .myKittenData{
font-size: 1.25rem;
}


.row{
margin-bottom: 1.75em;
}

#scroll-text{
font-size: 1.5rem;
}

.card{
background: transparent !important;
}

a {
color: black !important;
}

a:link { text-decoration: none !important; }
a:visited { text-decoration: none; }
a:hover { 
text-decoration: none;
border: dotted 1px !important; }
a:active { text-decoration: none; }


.myDiary{
background-image: url(../bg-images/bg3.jpg);
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
margin: 2em 9em 2em 9em;
padding: 5em 7em 5em 7em;;
}

#diaryGrid{
  margin: 5em 7em 5em 7em;
  }

#scroll-container {
margin-top: 3em;
margin-bottom: 3em;
border-top: dotted 5px grey;
border-bottom: dotted 5px grey ;
overflow: hidden;
font-weight: 500;
}

#scroll-text {
/* animation properties */
-moz-transform: translateX(100%);
-webkit-transform: translateX(100%);
transform: translateX(100%);
-moz-animation: my-animation 50s linear infinite;
-webkit-animation: my-animation 50s linear infinite;
animation: my-animation 50s linear infinite;
}



/* for Firefox */
@-moz-keyframes my-animation {
from { -moz-transform: translateX(100%); }
to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
from { -webkit-transform: translateX(100%); }
to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
from {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
to {
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
}